<include file="Public:header" />
<div class="wrapbody">
	<div class="main">
		<div class="myright" style="width: 1168px;">
			<div class="wraphtml">
				<div class="f_title clearfix">
					<div class="f_title_span left">
						<span class="current">
							<i></i>
							<a href="{:U('/Bazaar')}">集市交易</a>
						</span>
						<span class="">
							<a href="{:U('/Bazaar/mysell')}">我的委托卖出</a>
						</span>
						<span class="">
							<a href="{:U('/Bazaar/log')}">逛集市</a>
						</span>
						<span class="">
							<a href="{:U('/Bazaar/whole')}">全站成交记录</a>
						</span>
						<span class="">
							<a href="{:U('/Bazaar/mybuy')}">我的买入记录</a>
						</span>
					</div>
				</div>
				<notempty name="C['bazaar_text_index']">
				<div class="mytips">
					<h6 style="color: #ff8000;">温馨提示</h6>
					{$C['bazaar_text_index']}
				</div>
				</notempty>
				<div class="choosepaymethod">
					<div class="choosebanks" style="margin-top: 20px;">
						<div class="methodway clearfix">
							<div class="w_div clearfix" id="cz_alipay">
								<div class="w1">集市市场：</div>
								<div class="w2">
									<select name="type" id="coin_selectTest" style="width: 110px; height: 38px;">
										<volist name=":C('coin_list')" id="vo">
										<option value="{$key}"<eq name="coin" value="$key">selected</eq>>{$vo['title']}</option>
										</volist>
									</select>
								</div>
							</div>
							<div class="w_div clearfix">
								<div class="w1">{:C('coin')[$coin]['title']}余额：</div>
								<div class="w2" style="color: #ff8000; font-size: 18px;">￥{$user['coin'][$coin]|default="0"}</div>
							</div>
							<div class="w_div clearfix">
								<div class="w1">集市委托冻结：</div>
								<div class="w2" style="font-size: 18px;">￥{$dongjie|default="0"}</div>
							</div>
							<div class="w_div clearfix">
								<div class="w1">卖出单价：</div>
								<div class="w2">
									<input type="text" class="cztxinput" id="bazaar_price" value="">
								</div>
							</div>
							<div class="w_div clearfix">
								<div class="w1">交易数量：</div>
								<div class="w2">
									<input type="text" class="cztxinput" id="bazaar_num" value="">
								</div>
							</div>
							<div class="w_div clearfix">
								<div class="w1">佣金比例：</div>
								<div class="w2" style="font-size: 18px;">{:C('bazaar_fee')}%</div>
							</div>
							<div class="w_div clearfix">
								<div class="w1">交易密码：</div>
								<div class="w2">
									<input type="password" class="cztxinput" id="bazaar_paypassword" value="">
									<a href="{:U('/Login/findpaypwd')}" class="reg_floatr">忘记密码?</a>
								</div>
							</div>
							<div class="w_div clearfix">
								<div class="w1">&nbsp;</div>
								<div class="w2">
									<input type="button" class="btn-cztx" id="btn-submit" onclick="Update()" value="确认卖出" title="确认卖出">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var coin='{$coin}';
	$("#coin_selectTest").change(function(){
		var coin=$("#coin_selectTest option:selected").val();
		window.location='/Bazaar/index/coin/'+coin+'.html';
	});
	function Update(){
		var num=$('#bazaar_num').val();
		var price=$('#bazaar_price').val();
		var paypassword=$('#bazaar_paypassword').val();
		if(num==""||num==null){
			layer.tips('请输入数量','#bazaar_num',{tips:3});
			return false;
		}
		if(price==""||price==null){
			layer.tips('请输入价格','#bazaar_price',{tips:3});
			return false;
		}
		if(paypassword==""||paypassword==null){
			layer.tips('请输入交易密码','#bazaar_paypassword',{tips:3});
			return false;
		}
		$.post("{:U('Bazaar/index')}",{coin:coin,num:num,price:price,paypassword:paypassword},function(data){
			if(data.status==1){
				layer.msg(data.info,{icon:1});
				window.setTimeout("window.location='{:U('Bazaar/index')}'",1000);
			}else{
				layer.msg(data.info,{icon:2});
				if(data.url){
					window.setTimeout("window.location="+data.url,1000);
				}
			}
		},"json");
	}
</script>
<script>
	//顶部菜单高亮
	$('#menu_top_game').addClass('current');
</script>
<include file="Public:footer" />