<div class="coin_menu">
 <div class="coin_menu_box">
  <ul>
  <li id="game_issue"><i class="coin_menu_op_11_1"></i><a href="/issue/index.html">认购中心</a></li>
   <li id="game_issuelog"><i class="coin_menu_op_7_1"></i><a href="/issue/log.html">认购记录</a></li>
  </ul>
 </div>

<!--  <div class="coin_menu_box">
  <ul>
  <li id="game_money"><i class="coin_menu_op_6_1"></i><a href="/user/index.html">理财中心</a></li>
   <li id="game_moneylog"><i class="coin_menu_op_8_1"></i><a href="/user/nameauth.html">理财记录</a></li>
  </ul>
 </div>
  <div class="coin_menu_box">
  <ul>
   <li id="game_fenhong"><i class="coin_menu_op_10_1"></i><a href="/finance/mywt.html">分红中心</a></li>
  </ul>
 </div>
 <div class="coin_menu_box">
  <ul>
  <li id="game_issu1e"><i class="coin_menu_op_9_1"></i><a href="/user/index.html">购物记录</a></li>
  </ul>
 </div> -->
</div>