<!DOCTYPE html>



<html lang="en">



<head>



    <meta charset="UTF-8">



    <title>Title</title>



</head>



<body>







<div class="k-line-wrap" id="depth_chart" style="margin: 0;width: 1190px;" data-highcharts-chart="0" align="left">







</div>



<p id="market" hidden="hidden">{$market}</p>



<script src="__PUBLIC__/Home/js/jquery-1.12.3.min.js"></script>



<script src="__PUBLIC__/Home/js/highcharts.js"></script>



<script src="__PUBLIC__/Home/js/deepth.js"></script>



</body>



</html>