<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">用户管理</span>
        </div>
        <div class="cf">
            <div class="fl">
                <button class="ajax-post btn  btn-success navbar-btn btn-sm"
                        url="{:U('User/status',array('method'=>'resume'))}" target-form="ids">正 常
                </button>
                <button class="ajax-post btn  btn-warning navbar-btn btn-sm ajax-post"
                        url="{:U('User/status',array('method'=>'forbid'))}" target-form="ids">冻 结
                </button>
            </div>
            <div class="search-form fr cf">
                <div class="sleft">
                    <form name="formSearch" id="formSearch" method="get" name="form1">
                        <select style="height: 32px; font-size: 14px; width: 120px; float: left; margin-right: 1px;"
                                name="status">
                            <option value=""
                            <empty name="Think.get.status">selected</empty>
                            >全部状态
                            </option>
                            <option value="1"
                            <eq name="Think.get.status" value="1">selected</eq>
                            >冻结状态
                            </option>
                            <option value="2"
                            <eq name="Think.get.status" value="2">selected</eq>
                            >正常状态
                            </option>
                        </select> <select
                            style="height: 32px; font-size: 14px; width: 120px; float: left; margin-right: 5px;"
                            name="field">
                        <option value="username"
                        <empty name="Think.get.field">selected</empty>
                        >用户名
                        </option>
                        <option value="moble"
                        <eq name="Think.get.field" value="moble">selected</eq>
                        >手机号码
                        </option>
                        <option value="truename"
                        <eq name="Think.get.field" value="truename">selected</eq>
                        >真实姓名
                        </option>
                        <option value="idcard"
                        <eq name="Think.get.field" value="idcard">selected</eq>
                        >身份证号
                        </option>
                    </select> <input type="text" name="name" class="search-input" value="{$Think.get.name}"
                                     placeholder="请输入查询内容" style="width: 150px"> <a class="sch-btn" href="javascript:;"
                                                                                    id="search"> <i
                            class="btn-search"></i>
                    </a>
                    </form>
                    <script>
                        //搜索功能
                        $(function () {
                            $('#search').click(function () {
                                $('#formSearch').submit();
                            });
                        });
                        //回车搜索
                        $(".search-input").keyup(function (e) {
                            if (e.keyCode === 13) {
                                $("#search").click();
                                return false;
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="data-table table-striped">
            <table class="">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">ID</th>
                    <th class="">用户名</th>
                    <th class="">手机号</th>
                    <th class="">真实姓名</th>
                    <th class="">1代推荐人</th>
                    <th class="">2代推荐人</th>
                    <th class="">3代推荐人</th>
                    <th class="">注册时间</th>
                    <th class="">状态</th>
                    <th class="">操作</th>
                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo.username}</td>
                            <td>{$vo.moble}</td>
                            <td>{$vo.truename}</td>
                            <td>
                                <a href="{:U('User/index?name='.$vo['invit_1'].'&field=id')}">{$vo['invit_1']}</a>
                            </td>

                            <td>
                                <a href="{:U('User/index?name='.$vo['invit_2'].'&field=id')}">{$vo['invit_2']}</a>
                            </td>

                            <td>
                                <a href="{:U('User/index?name='.$vo['invit_3'].'&field=id')}">{$vo['invit_3']}</a>
                            </td>


                            <td>{$vo.addtime|addtime}</td>
                            <td
                            <eq name="vo.status" value="0"> class="text-warning">冻结</eq>
                            <eq name="vo.status" value="1"> class="text-success">正常</eq>
                            </td>
                            <td>
                                <!--<a href="{:U('User/detail?id='.$vo['id'])}"  class="btn btn-warning btn-xs" class="btn btn-primary btn-xs">详情</a>-->
                                <a href="{:U('User/edit?id='.$vo['id'])}" class="btn btn-primary btn-xs"
                                   class="btn btn-primary btn-xs">编辑</a>
                            </td>
                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
                </notempty>
                </tbody>
            </table>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        //主导航高亮
        $('.user-box').addClass('current');
        //边导航高亮
        $('.user-index').addClass('current');
    });
</script>
<include file="Public:footer"/>