<include file="Public:header3" />

<div class="autobox">

<div class="category-nav">
                        <dl>
                <dt>数码精品：</dt>
                <dd>
                    <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=1">全部</a>
                                                                                                        <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=1&amp;subId=1">手机通讯<em>7</em></a>
                                                                                                                <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=1&amp;subId=2">影像/智能数码<em>28</em></a>
                                                                                                                <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=1&amp;subId=3">笔记本电脑<em>6</em></a>
                                                                                                                <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=1&amp;subId=4">电脑外设<em>9</em></a>
                                                                                                                <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=1&amp;subId=5">DIY主机/配件<em>7</em></a>
                                                                                                                <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=1&amp;subId=6">家电/其他<em>9</em></a>
                                                                                
                        <!-- 二级子类暂时去掉不显示 start -->
                                                     
                                <div class="subset" >
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=1&secondSubId=141" >手机整机<em>4</em></a>
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=1&secondSubId=142" >手机配件<em>3</em></a>
                                                                    </div>
                                                                                 
                               <div class="subset" >
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=2&secondSubId=145" >摄影摄像<em>24</em></a>
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=2&secondSubId=146" >数码配件<em>3</em></a>
                                                                    </div>
                                                                                 
                             <div class="subset" >
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=3&secondSubId=147" >笔记本电脑整机<em>6</em></a>
                                                                    </div>
                                                                                 
                               <div class="subset" >
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=4&secondSubId=149" >外设产品<em>9</em></a>
                                                                    </div>
                                                                                 
                                <div class="subset" >
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=5&secondSubId=152" >DIY硬件<em>3</em></a>
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=5&secondSubId=153" >DIY整机<em>4</em></a>
                                                                    </div>
                                                                                 
                             <div class="subset" >
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=6&secondSubId=154" >智能设备<em>3</em></a>
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=6&secondSubId=155" >办公耗材<em>1</em></a>
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=6&secondSubId=157" >大家电<em>3</em></a>
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=1&subId=6&secondSubId=159" >个人护理<em>2</em></a>
                                                                    </div>
                                                                            <!-- 二级子类暂时去掉不显示 end -->
                        
                                    </dd>
            </dl>
                    <dl>
                <dt>生活消费：</dt>
                <dd>
                    <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=2">全部</a>
                                                                                                        <a href="/index.php?c=List&amp;a=HotTuan&amp;cateId=2&amp;subId=12">休闲娱乐<em>1</em></a>
                                                                                
                        <!-- 二级子类暂时去掉不显示 start -->
                                                     
<!--                                <div class="subset" >
                                                                            <a href="/index.php?c=List&a=HotTuan&cateId=2&subId=12&secondSubId=200" >创意礼品<em>1</em></a>
                                                                    </div>-->
                                                                            <!-- 二级子类暂时去掉不显示 end -->
                        
                                    </dd>
            </dl>
             
            <dl class="sort">
            <dt style="margin-top: 3px">团购状态：</dt>
            <dd>
                <a href="/index.php?c=List&amp;a=HotTuan" class="current"><span class="default">默认</span></a>
                                                            <a href="/index.php?c=List&amp;a=HotTuan&amp;hotStatus=1"><span style="padding-right:10px;background: none;">正在进行</span></a>
                                                <a href="/index.php?c=List&amp;a=HotTuan&amp;hotStatus=3"><span style="padding-right:10px;background: none;">往期团购</span></a>
                                                        </dd>
        </dl>
    </div>
</div>

<div class="wrapbody">
	<div class="main">

			<div class="wraphtml">
				
				<div id="content" style="background: #fff;">
					<div class="box">
						<div class="ProductList">
							<ul class="clearfix">
								<volist name="list" id="vo" mod="4">
								<li class="">
									<div class="productListBox">
										<div class="listImg">
											<a href="/Shop/view.html?id={$vo.id}"> <img src="__UPLOAD__/shop/{$vo.img}">
											</a>
										</div>
										<div class="listText">
											<a href="/Shop/view.html?id={$vo.id}" style="font-size: 14px;">{$vo.name}</a>
										</div>
										<div class="listWrap">
											<strong style="font-size: 16px;">￥{$vo.price}</strong> <span style="text-decoration: line-through;">￥{$vo.price_1}</span>
										</div>
										<div class="listStar">
											<span> 总销量:<strong>{$vo.deal}</strong>
											</span> <em>剩余库存:{$vo.num}</em>
										</div>
										<div class="listWrapBtn pages" style="text-align: right;margin-top: -45px;">
											<a href="/Shop/view.html?id={$vo.id}"  id="btn">立 即 购 买</a>
										</div>
									</div>
								</li>
								</volist>
							</ul>
							<div class="pages" style="margin: 0px;">{$page}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

</div>
<script>
	//菜单高亮
    $('#shop_box').addClass('active');
</script>
<include file="Public:footer" />
<script>
    $('input').focus(function(){
        var t=$(this);
        if(t.attr('type')=='text'||t.attr('type')=='password')
            t.css({'box-shadow':'0px 0px 3px #e55600','border':'1px solid #e55600','color':'#333' });
        if(t.val()==t.attr('placeholder'))
            t.val('');
    });
    $('input').blur(function(){
        var t=$(this);
        if(t.attr('type')=='text'||t.attr('type')=='password')
            t.css({'box-shadow':'0px 0px 1px #e55600','border':'0px solid #e55600','color':'#333' });
           // t.css({'box-shadow':'none','border':'1px solid #e55600','color':'#333' });
        if(t.attr('type')!='password'&&!t.val())
            t.val(t.attr('placeholder'));
    });

</script>
